<div class="bottomWrapper">

	<div class="wrapper">

		<footer class="footer">

			<p><strong>Contact Sumaitri</strong><br/>
			<p>Sumaitri, Aradhana Hostel Complex, No 1, Bhagwan Das Lane, Bhagwan Das Road, New Delhi<br />
			Call us at : 011-23389090 (Mon-Fri 2PM to 10PM and Sat-Sun 10AM to 10PM), feelingsuicidal@sumaitri.net</p>

		</footer>

	</div>

</div> <!-- [/bottomWrapper] -->

</body>
</html>