@include font-face('proxima', '/assets/fonts/proximaNova-webfont/ProximaNova-Light', 100, normal);
@include font-face('proxima', '/assets/fonts/proximaNova-webfont/ProximaNova-Regular', 400, normal);
@include font-face('proxima', '/assets/fonts/proximaNova-webfont/ProximaNova-Semibold', 600, normal);

body{

	font-family: proxima, $helvetica;
}

a{
	text-decoration:none;
	color:$blueColor;
}