/* line 2, ../components/neat/app/assets/stylesheets/grid/_grid.scss */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* line 45, ../components/normalize/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* line 61, ../components/normalize/_normalize.scss */
audio, canvas, video { display: inline-block; }

/* line 74, ../components/normalize/_normalize.scss */
audio:not([controls]) { display: none; height: 0; }

/* line 81, ../components/normalize/_normalize.scss */
[hidden] { display: none; }

/* line 94, ../components/normalize/_normalize.scss */
html { background: white; color: black; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* line 106, ../components/normalize/_normalize.scss */
html, button, input, select, textarea { font-family: sans-serif; }

/* line 116, ../components/normalize/_normalize.scss */
body { margin: 0; }

/* line 132, ../components/normalize/_normalize.scss */
a:focus { outline: thin dotted; }
/* line 138, ../components/normalize/_normalize.scss */
a:hover, a:active { outline: 0; }

/* line 152, ../components/normalize/_normalize.scss */
h1 { font-size: 2em; margin: 0.67em 0; }

/* line 157, ../components/normalize/_normalize.scss */
h2 { font-size: 1.5em; margin: 0.83em 0; }

/* line 162, ../components/normalize/_normalize.scss */
h3 { font-size: 1.17em; margin: 1em 0; }

/* line 167, ../components/normalize/_normalize.scss */
h4 { font-size: 1em; margin: 1.33em 0; }

/* line 172, ../components/normalize/_normalize.scss */
h5 { font-size: 0.83em; margin: 1.67em 0; }

/* line 177, ../components/normalize/_normalize.scss */
h6 { font-size: 0.75em; margin: 2.33em 0; }

/* line 185, ../components/normalize/_normalize.scss */
abbr[title] { border-bottom: 1px dotted; }

/* line 191, ../components/normalize/_normalize.scss */
b, strong { font-weight: bold; }

/* line 204, ../components/normalize/_normalize.scss */
dfn { font-style: italic; }

/* line 210, ../components/normalize/_normalize.scss */
mark { background: #ff0; color: #000; }

/* line 226, ../components/normalize/_normalize.scss */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/* line 239, ../components/normalize/_normalize.scss */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* line 247, ../components/normalize/_normalize.scss */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 262, ../components/normalize/_normalize.scss */
q:before, q:after { content: ''; content: none; }

/* line 270, ../components/normalize/_normalize.scss */
small { font-size: 80%; }

/* line 277, ../components/normalize/_normalize.scss */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

/* line 285, ../components/normalize/_normalize.scss */
sup { top: -0.5em; }

/* line 289, ../components/normalize/_normalize.scss */
sub { bottom: -0.25em; }

/* line 341, ../components/normalize/_normalize.scss */
img { border: 0; }

/* line 350, ../components/normalize/_normalize.scss */
svg:not(:root) { overflow: hidden; }

/* line 360, ../components/normalize/_normalize.scss */
figure { margin: 0; }

/* line 377, ../components/normalize/_normalize.scss */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* line 388, ../components/normalize/_normalize.scss */
legend { border: 0; padding: 0; white-space: normal; }

/* line 402, ../components/normalize/_normalize.scss */
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; vertical-align: baseline; }

/* line 417, ../components/normalize/_normalize.scss */
button, input { line-height: normal; }

/* line 427, ../components/normalize/_normalize.scss */
button, select { text-transform: none; }

/* line 440, ../components/normalize/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

/* line 453, ../components/normalize/_normalize.scss */
button[disabled], input[disabled] { cursor: default; }

/* line 463, ../components/normalize/_normalize.scss */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

/* line 476, ../components/normalize/_normalize.scss */
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* line 486, ../components/normalize/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* line 495, ../components/normalize/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* line 504, ../components/normalize/_normalize.scss */
textarea { overflow: auto; vertical-align: top; }

/* line 515, ../components/normalize/_normalize.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* See http://mrdanadams.com/2012/pixel-ems-css-conversion-sass-mixin/ */
/* Default font size in pixels if not overridden. */
/* Convert PX units to EMs.
Ex: margin-right: pem(16);
*/
/* Used to convert PX to EMs for multiple properties or values or both.
$base is an optional measurement that allows making measurements relative to the parent font size rather than the current. Also accepts a list of lists (instead a list of values) for properties that accept multiple lists of values. Only numbers of converted; everything else is passed through.

Examples:

@include scale(line-height, 30)
@include scale(line-height, 30, 16)
@include scale(width height, 125);
@include scale(padding, 0 25, 16);
@include scale(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
@include scale(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);
*/
@font-face { font-family: "proxima"; font-weight: 100; font-style: normal; src: url("/assets/fonts/proximaNova-webfont/ProximaNova-Light.eot"); src: url("/assets/fonts/proximaNova-webfont/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Light.woff") format("woff"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Light.ttf") format("truetype"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Light.svg#proxima") format("svg"); }

@font-face { font-family: "proxima"; font-weight: 400; font-style: normal; src: url("/assets/fonts/proximaNova-webfont/ProximaNova-Regular.eot"); src: url("/assets/fonts/proximaNova-webfont/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Regular.woff") format("woff"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Regular.ttf") format("truetype"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Regular.svg#proxima") format("svg"); }

@font-face { font-family: "proxima"; font-weight: 600; font-style: normal; src: url("/assets/fonts/proximaNova-webfont/ProximaNova-Semibold.eot"); src: url("/assets/fonts/proximaNova-webfont/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Semibold.woff") format("woff"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Semibold.ttf") format("truetype"), url("/assets/fonts/proximaNova-webfont/ProximaNova-Semibold.svg#proxima") format("svg"); }

/* line 5, ../scss/_type.scss */
body { font-family: proxima, "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 10, ../scss/_type.scss */
a { text-decoration: none; color: #021a0f; }

/* line 1, ../scss/_common.scss */
.wrapper { max-width: 1024px; margin: 0 auto; }

/* line 7, ../scss/_common.scss */
.header { background: #0ea760; }

/* line 12, ../scss/_common.scss */
.header_headings { padding: 20px 0; padding: 1.25rem 0; }
/* line 16, ../scss/_common.scss */
.header_headings .call-banner { float: right; color: #F8f8f8; font-size: 14px; font-size: 0.875rem; }
/* line 22, ../scss/_common.scss */
.header_headings .call-banner span { font-size: 120%; color: #FFF; }
/* line 29, ../scss/_common.scss */
.header_headings h1 { font-size: 32px; font-size: 2rem; line-height: 60px; line-height: 3.75rem; margin: 0; font-weight: 400; text-transform: uppercase; letter-spacing: 3px; word-spacing: 20px; }
/* line 39, ../scss/_common.scss */
.header_headings h2 { font-size: 24px; font-size: 1.5rem; margin: 0; color: #333; cursor: default; }
/* line 46, ../scss/_common.scss */
.header_headings a { color: #000; }

/* line 53, ../scss/_common.scss */
.main-nav ul { overflow: hidden; margin: 0; padding: 0; list-style: none; margin: 0 -25px; margin: 0 -1.5625rem; }
/* line 59, ../scss/_common.scss */
.main-nav li { font-size: 22px; font-size: 1.375rem; padding: 30px 20px; padding: 1.875rem 1.25rem; display: block; float: left; font-weight: 100; }
/* line 69, ../scss/_common.scss */
.main-nav li a { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; position: relative; top: -5px; padding: 5px 0; padding: 0.3125rem 0; color: #2a323a; border-bottom: 3px solid #FFF; }
/* line 76, ../scss/_common.scss */
.main-nav li a:hover { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; color: #0ea760; border-bottom: 3px solid #f77f00; }

/* line 87, ../scss/_common.scss */
.content { padding: 25px 0; padding: 1.5625rem 0; font-size: 14px; font-size: 0.875rem; line-height: 22px; line-height: 1.375rem; box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); background: #f8f8f8; color: #444; }
/* line 97, ../scss/_common.scss */
.content a { border-bottom: 1px dotted #333; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
/* line 101, ../scss/_common.scss */
.content a:hover { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; color: #0ea760; }

/* line 108, ../scss/_common.scss */
.bottomWrapper { margin: 20px 0; margin: 1.25rem 0; }
/* line 112, ../scss/_common.scss */
.bottomWrapper .footer { color: #999; font-weight: 100; }
/* line 116, ../scss/_common.scss */
.bottomWrapper .footer p { margin: 5px 0; margin: 0.3125rem 0; line-height: 14px; line-height: 0.875rem; }

/* line 1, ../scss/_product.scss */
.product-page { overflow: hidden; }
/* line 5, ../scss/_product.scss */
.product-page .main-product { float: right; width: 60%; }
/* line 10, ../scss/_product.scss */
.product-page .side-product { font-size: 80%; width: 35%; float: left; line-height: normal; }
/* line 16, ../scss/_product.scss */
.product-page .side-product a { color: #444; border: 0; }
